includes:
    - ./vendor/worksome/coding-style/larastan.neon

parameters:
    paths:
        - app

    # The level 8 is the highest level
    level: 0

    ignoreErrors:
        - '#^Global helper function ''base_path'' should not be used\.#'
        - '#^Illuminate\\Support\\Facades\\RateLimiter facade should not be used\.$#'
        - '#^Illuminate\\Support\\Facades\\Route facade should not be used\.$#'
        - '#^Illuminate\\Support\\Facades\\Auth facade should not be used\.$#'
        - '#^Illuminate\\Support\\Facades\\Broadcast facade should not be used\.$#'